<br>
<br>

<h2 id="editing-title">Editing Article</h2>

<%= render 'form', article: @article %>

<div class="links-articles-form">
  <%= link_to 'Show', @article, :class => "links-edit"  %> |
  <%= link_to 'Back', :back, :class => "links-edit"  %>
  <%#= link_to 'Back', articles_path, :class => "links-edit"  %>
</div>

<br>
